@import url('https://fonts.googleapis.com/css?family=Viga');

*{ 
    font-family: 'Viga', sans-serif;
    color:rgba(255, 255, 255, 0.699);
}

html,body{
    margin:0;
    height: 100%;
    scroll-behavior: smooth;
    background: linear-gradient(335deg, #3098ff 0%, rgba(27,135,242,1) 35%, #188bfd 35%, #188bfd 80%, #1b88f4 80%, #3098ff 100%);
}

div.container{
    margin:0;
    display: flex;
    justify-content: center; 
    text-align: center;
}

div.container > div{
    margin: 10px;
    padding: 10px;
}

div.login-function{
    flex-direction: column;
}

h1.page-title{
    font-size:45px;
    text-shadow: 2px 2px 2px rgb(35, 144, 163);
    color: rgb(255, 255, 255);
    margin:0 auto;
    text-align: center;
    padding: 20px;
}

h1.signup-title{
    color:white;
}

label{
    color: white;
    float: left;
}

button:focus {outline:0;}

button.submit-button{
    color: #5e5e5e;
    background: linear-gradient(0deg, #f3f3f3 50%, #ffffff 50%);
    box-shadow: 0px 1px 4px 2px #1a33c11a;
    -webkit-box-shadow:0px 1px 4px 2px #1a33c11a;
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
}

button.submit-button:hover {
    color:white;
    background: linear-gradient(0deg, #30ce5f 50%, #2ae964 50%);
    box-shadow: 0px 1px 4px 3px #1ac14f60;
    -webkit-box-shadow: 0px 1px 4px 3px #1ac14f60;
}

input{
    border-radius: 25px;
    color:#5e5e5e;
    text-decoration: none;
    border: none;
    outline:0;
    padding: 6px 12px;
    width:200px;
}

input:focus{
    border-radius: 25px;
    color:#5e5e5e;
    box-shadow: 0px 1px 4px 2px #b4eaffc7;
    text-decoration: none;
    border:none;
    outline:0;
    padding: 6px 12px;
}

select#signupAge{
    color:#5e5e5e;
    text-decoration: none;
    border:none;
    padding: 6px 12px;
    width:200px;
    border-radius: 25px;
}

option{
    color:#5e5e5e;
}

p.attention-error{
    color:white;
    background: #fc5454;
    width:220px;  
}

@media only screen and (max-width: 1200px){
    div.container{
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center;
    }
}