@import url('https://fonts.googleapis.com/css?family=Viga');

html,body{
    margin:0;
    height: 100%;
    scroll-behavior: smooth;
}
.page{
    height: 100%;  /*allows both columns to span the full height of the browser window*/
}
.flex-container-menu {
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0px 1px 5px 3px #978bad6e;
    flex-shrink: 0;
    display: inline-flex;
}

.flex-container-menu > div {
    margin: 10px;
}

.button {
    color: #ffffff;
    background-color: #ffffff;
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    cursor: pointer;
    border-radius: 25px;
    font-family: 'Viga', sans-serif;
    background: none;
}

.button1 {
    color: #5e5e5e;
    background: linear-gradient(0deg, #f9f9f9 50%, #ffffff 50%);
    box-shadow: 0px 1px 4px 2px #551ac11a;
    -webkit-box-shadow:0px 1px 4px 2px #551ac11a;
}
  
.button1:hover {
    color: #ffffff;
    background: linear-gradient(0deg, #1980e4 50%, #1e90ff 50%);
    box-shadow: 0px 1px 5px 2px #551ac13b;
    -webkit-box-shadow:0px 1px 5px 2px #551ac13b;
}

.button2{
    background: linear-gradient(0deg, #11db44 50%, #16f862 50%);
    box-shadow: 0px 1px 4px 2px #1ac14f1a;
    -webkit-box-shadow: 0px 1px 4px 2px #1ac14f1a;
}

.button2:hover {
    box-shadow: 0px 1px 5px 2px #1ac14f62;
    -webkit-box-shadow: 0px 1px 5px 2px #1ac14f62;
}

button:focus {outline:0;}

.page-content{
    overflow-y: auto;
    height: 100%;
    background-color: #1e90ff;
}
.page-content2{
    overflow-y: auto;
    height: 100%;
    background-color: #b7dbff;
}